# Byte-compiled / optimized / DLL files
__pycache__/
_pycache_/
.continue/
data/temp
data/weights
global_config.json
data/*.npy
data/*.json
data/*.predictor
data/*.txt
runs/
data/models/
environment.yml