# Byte-compiled / optimized / DLL files
__pycache__/
_pycache_/
.continue/
data/temp
data/misc
data/weights
data/configs
data/*.npy
data/*.json
data/*.predictor
data/*.txt
runs/
data/models/
environment.yml