# Byte-compiled / optimized / DLL files
__pycache__/
_pycache_/
.continue/
.vscode
data/
runs/
environment.yml
project_config.json
*.pyc
*.pyo

# Build / distribution artifacts
dist/
build/
*.egg-info/
src/tiptorch/_version.py