# Core libraries
pillow
astropy
numpy>=2.0
scipy
astroquery
pandas
matplotlib
seaborn
scikit-image
scikit-learn
tabulate
tqdm
gdown
pooch
photutils

# PyTorch & friends
torch
torchvision
torchaudio
pytorch-minimize
